<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="public/favicon.ico"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/">Home</a>
    <a href="/author">Author</a>

    <p>The web site where you can create your own games!</p>

  </body>
</html>
